.addCategory{
    width: 100vw;
    /* position: relative; */
}

.addCategory .wrapper{
    width: 30%;
    /* height: 15rem; */
    /* background: red; */
    margin: 0 auto;
    margin-top: 7rem;
    border: 3px solid #595959;
    border-radius: 1rem;
    /* padding: 0 auto; */
}

.addCategory .wrapper .header{
    text-align: center;
    padding: 2rem 0 0.5rem 0;
}

.addCategory .wrapper .header input{
    height: 2.5rem;
    width: 70%;
    max-width: 100%;
    border-radius: 0.3rem;
    margin-top: 1rem;
}


.addCategory .wrapper .category-footer{
    display: flex;
    flex-direction: row;
    justify-content: center
}

