.button{
    margin: 1.5rem 1rem 2rem 0;
    border-radius: 0.5rem;
    text-align: center;

    transition-property: opacity;
    transition-duration: 300ms;
    transition-timing-function: linear;
}

.button:hover{
    cursor: pointer;
    opacity: 0.6;
}