.community-posts{
    flex-basis: 65%;
    flex-shrink: 65%;
    /* background-color: blue; */
    /* height: 100vh; */
    height: 100%;
    overflow-y: scroll;
    /* margin-left: 1.5rem; */

    overscroll-behavior: contain;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


.community-posts::-webkit-scrollbar {
    display: none;
}