/* version 1 */

.banner{
    width: 100vw;
    height: 95vh;
    /* position: relative; */
    /* background: url('https://a0.muscache.com/im/pictures/6dcea824-1228-4d91-b78f-6953cd1efed7.jpg?im_w=1920') no-repeat center center/cover; */
}


.banner img{
    width: 100% !important;
    height: 100% !important;
}


/* Slideshow */

.banner .slideshow {
    margin: 0 auto;
    overflow: hidden;
    max-width: 100vw;
}

.banner .slideshow .slideshowSlider {
    white-space: nowrap;
    transition: ease 1000ms;
}

.banner .slideshow .slideshowSlider .slide {
    display: inline-block;

    height: 90vh;
    width: 100%;
    /* border-radius: 40px; */
}

/* Buttons */

.slideshowDots {
    text-align: center; 
    /* position: relative; */
    position: absolute;
    left: 9rem;
    bottom: 6rem;

}

.slideshowDot {
    display: inline-block;
    height: 0.7rem;
    width: 0.7rem;
    border-radius: 50%;

    cursor: pointer;
    margin: 15px 7px 0px;

    background-color: #595959;
    /* background-color: #ffffff */
}

.slideshowDot.active {
    /* background-color: #6a0dad; */
    /* background-color: #3B5998; */
    background-color: #ffffff;
}


.banner .header{
    position: absolute;
    top: 0;
    left: 0;
}


.banner .header .navbar{
    margin: 0;
}

.banner .header .navbar{
    height: 7rem !important;
    /* padding: 0 4rem; */
    display: flex;
    flex-direction: row;
    font-size: 1.2rem;
}

.banner .header .navbar .left{
    width: 30%;
    height: 100%;
    color: #ffffff;
    /* padding-top:1.5rem; */
    /* font-size: 1.5rem; */
    /* position: relative; */
    /* background-color: #000000; */
}

.banner .header .navbar .left img{
    /* position: absolute;
    top: 2rem; */
    left: 0;
    object-fit: cover;
}

.banner .header .navbar .center{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding-left: 3rem; */
    /* background-color: green; */
    /* padding-top: 2rem; */
}


.banner .header .navbar .center .item{
    position: relative;
    /* padding: 2rem 3rem 0 0; */
    margin: 0 3rem 0 0;
}

.banner .header .navbar .center .item span{
    color: #ffffff;
    /* font-size: 1.2rem; */
}

.banner .header .navbar .center .item span:hover{
    color: #cccccc;
    cursor: pointer;
}

.relative{
    position: relative;
}


.banner .header .navbar .center .border{
    /* height: 10%; */
    /* margin: 0 auto; */
    /* margin-top: 0.3rem; */
    /* padding-top: 0.3rem; */
    width: 23%;
    position: absolute;
    bottom: -0.3rem;

    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;

    background-color: #ffffff;
}


.banner .header .navbar .right{
    width: 30%;
    /* height: 100%; */
    /* background-color: blue; */
    display: flex;
    flex-direction: row;
    color: #ffffff;
    /* justify-content: end; */
    justify-content: flex-end;
    align-items: center;
    padding-right: 2rem;
}

.banner .header .navbar .right .auth{
    /* margin: 2rem 0; */
    padding: 0.6rem;
    margin-right: 2rem;
    /* background: #333333; */
    background: #3B5998;
    border-radius: 0.5rem;
    /* float: ""; */
    /* color: ""; */
    /* height: ""; */
}