.community-body{
    /* display: flex;
    flex-direction: row; */

    padding: 4rem 4rem;
    /* height: 90vh; */

    /* padding-top: 5rem; */
    /* overflow-y: hidden; */
}

.fixed-background{
    background-repeat: no-repeat;
    background-attachment: fixed;
}