
/* Slideshow */

.newsSlider{
    /* margin: 0 6rem 0 6rem; */
    /* width: 100%; */
    display: flex;
    flex-direction: row;
}

.newsSlider-slideshow {
    margin: 0 auto;
    overflow: hidden;
    max-width: 100vw;
    position: relative;
}

.newsSlider-slideshowSlider {
    white-space: nowrap;
    transition: ease 1000ms;
    
}

.newsSlider-slide {
    display: inline-block;

    height: 30rem;
    /* width: 19rem; */
    width: 24%;
    /* flex-basis: 25%; */
    margin: 0 0.5rem;
}

.newsSlider-slide:hover{
    cursor: pointer;
}

.newsSlider-slide:first-child{
    margin-left: 0;
}

.newsSlider-slide .newsSlider-background{
    height: 19rem;
    margin: 0;
    margin-bottom: 2rem;
    /* border-radius: 8px; */
    border-radius: 1rem;
}


/* next item v1 */

/* 
.newsSlider-slideshow .next-item{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    right: 0.2rem;
    width: 5rem;
    height: 19rem;
}

.newsSlider-slideshow .next-item .clear{
    opacity: 1 !important; 
}

.newsSlider-slideshow .next-item .right{
    height: 100%;
    width: 50%;
    opacity: 0.5;
    background-color: #000000;
    transition-property: opacity;
    transition-duration: 300ms;
    transition-timing-function: linear; 
    border-radius: 0 1rem 1rem 0;
}

.newsSlider-slideshow .next-item .left{
    height: 100%;
    width: 50%;
    opacity: 0.5;
    background-color: #000000;
    border-right: 1px solid #aaaaaa;
    transition-property: opacity;
    transition-duration: 300ms;
    transition-timing-function: linear;
}


.newsSlider-slideshow .arrow-right{
    height: 100%;
    text-align: center;
    position: relative;
}

.newsSlider-slideshow .arrow-right img{
    width: 1.5rem;
    height: 3rem;
    
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.newsSlider-slideshow .arrow-left{
    height: 100%;
    text-align: center;
    position: relative;
}

.newsSlider-slideshow .arrow-left img{
    width: 1.5rem;
    height: 3rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    transform: scaleX(-1);
}

.newsSlider-slideshow .arrow-left,.newsSlider-slideshow .arrow-right img:hover{
    cursor: pointer;
} */


/* next item v2 */
.newsSlider .left{
    /* position: absolute;
    top: 0;
    right: -5rem; */
    /* width: 5rem; */
    /* margin: 0 2rem 0 4rem; */
    height: 19rem;
}

.newsSlider .arrow-left{
    height: 100%;
    text-align: center;
    position: relative;
    width: 3rem;
    margin: 0 2rem 0 3rem;
}

.newsSlider .arrow-left img{
    width: 2.5rem;
    height: 2.5rem;
    
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}




.newsSlider .right{
    /* position: absolute;
    top: 0;
    right: -5rem; */
    /* width: 5rem;
    margin: 0 4rem 0 2rem; */
    height: 19rem;
}

.newsSlider .arrow-right{
    height: 100%;
    text-align: center;
    position: relative;
    width: 3rem;
    margin: 0 3rem 0 2rem;
}

.newsSlider .arrow-right img{
    width: 2.5rem;
    height: 2.5rem;
    
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}


.newsSlider .arrow-left,.newsSlider .arrow-right img:hover{
    cursor: pointer;
} 


.newsSlider-slide .newsSlider-information .title{
    color: #000000;
    margin-top: 0.3rem;
}

.newsSlider-slide .newsSlider-information .keyword{
    white-space: pre-wrap;
}


/* .hide{
    opacity: 0;
} */

/* Buttons */

/* .newsSlider-slideshowDots {
    text-align: center; 
}

.newsSlider-slideshowDot {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;

    cursor: pointer;
    margin: 15px 7px 0px;

    background-color: #c4c4c4;
}

.newsSlider-slideshowDot.active {
    background-color: #6a0dad;
} */